.profile-container-dark {
    background-color: black;
    color: white;
    margin-left: 30%;
}

.profile-container {
    margin-left: 30%;
}

.count-flex {
    display: flex;
}

.count-flex button {
    margin-left: 10px;
}

.carousels-img {
    width: 300px;
}

.carousels-containers {
    width: 300px;
}

.car-control-prev {
    background-color: black !important;
}